# This files contains everything needed to run this stack in development, staging, or production

version: '3.4'

services:
  db:
    image: paulrichter/camelot_db:1.0
    restart: unless-stopped
    ports:
      - 5435:5432
    networks:
      - war_summary
    volumes:
      - war_summary_db:/war_summary
    environment:
      POSTGRES_USER: war_summary
      POSTGRES_PASSWORD: war_summary
      PGDATA: /war_summary
      POSTGRES_DB: war_summary
  bot:
    image: paulrichter/utopia_war_summary:2.0
    # restart: unless-stopped
    networks:
      - war_summary
    environment:
      - SLACK_TOKEN=${SLACK_TOKEN}
      - SLACK_USERNAME=${SLACK_USERNAME}
      - UTOPIA_AGE=78
    stdin_open: true
    tty: true
    command: "python summary.py"
  pgweb:
    restart: unless-stopped
    image: sosedoff/pgweb
    networks:
      - war_summary
    ports:
      - "8081:8081"
    environment:
      - DATABASE_URL=postgres://war_summary:war_summary@db:5432/war_summary?sslmode=disable
      # - POSTGRES_PASSWORD=camelot

networks:
  war_summary:
    attachable: true

volumes:
  war_summary_db:
